@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
    .page {
        width: 100%;
        /*height: TS;*/
        position: fixed;
        background: radial-gradient(#d0e3f7, #abcff4);
        z-index: -10;
    }

@media only screen and (min-width: 0px) {
    #im-ship-global-element {
        position: absolute;
        z-index: 30;
        top: 0px;
        left: 0px;
        display: none;   /*flex*/
        transform: rotate(0deg);
        transition-duration: 0.5s;
    }
    #im-ship-global-element:hover {
        cursor: grab;
    }
    .header {
        width: 100%;
        height: 100px;
        padding-top: 40px;
        display: flex;
        justify-content: center;
        background-color: transparent;
        color: #222;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 250%;
        font-weight: 700;
        text-transform: uppercase;
    }/*
    .nav {
        width: 50px;
        height: 100%;
        position: fixed;
        top: 0px;
        left: 0px;
        background-color: whitesmoke;
        box-shadow: 0px 0px 5px 0px #555;
        z-index: 1;
    }*/
    .content {
        width: 100%;
        min-width: 880px;
        height: auto;
        padding: 70px 40px 25px;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border: 0px solid #555;   /*BOARDS AREA LINE*/
    }
        .board-box {
            width: 420px;
            height: 420px;
            position: relative;
            padding: 2px;
            background-color: transparent;
            border: 0px solid #555;
        }
        #bb-1 {
            margin-right: 40px;
            right: -40%;
        }
            .inside-menu {
                width: 420px;
                height: 420px;
                position: absolute;
                left: -500px;
                bottom: 0px;
                background-color: rgb(240, 240, 240);
                border-radius: 10px;
                box-shadow: 0px 0px 3px 0px #777;
            }
                .im-tit {
                    width: 100%;
                    height: auto;
                    padding: 30px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    background-color: transparent;
                    color: #222;
                    font-family: 'Barlow', sans-serif;
                    font-size: 135%;
                    font-weight: 600;
                    text-transform: uppercase;
                }
                .im-opt-box {
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    border: 0px solid green;
                }
                    .im-select-ship {
                        width: 120px;
                        height: 30px;
                        margin-right: 10px;
                        padding-left: 4px;
                        border-radius: 5px;
                        border: 0px solid blue;
                        box-shadow: 0px 0px 3px 0px #444;
                        outline: none;
                        transition-duration: 0.2s;
                    }
                    .im-select-ship:focus {
                        box-shadow: 0px 0px 4px 1px #444;
                        transition-duration: 0.2s;
                    }
                    .im-select-ship:hover, .im-rotate-ship:hover {
                        cursor: pointer;
                    }
                    .im-rotate-ship {
                        width: 30px;
                        height: 30px;
                        margin-left: 10px;
                        border: 0px solid blue;
                        transform: rotate(0deg);
                        transition-duration: 0.5s;
                    }
                .im-ship-area {
                    position: relative;
                    z-index: 1;
                    width: 100%;
                    height: calc(420px - 84px - 30px - 80px);
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    background-color: transparent;
                    border: 0px solid purple;
                }
                    .im-ship-place {
                        width: auto;
                        height: auto;
                        position: relative;
                        z-index: 1;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        transform: rotate(0deg);
                        transition-duration: 0.5s;
                    }
                    .im-ship-place:hover {
                        cursor: grab;
                    }
                        #im-ship-place-element {
                            position: absolute;
                            top: center;
                            left: center;
                        }
                        .im-ship-S2, .im-ship-S3, .im-ship-S4, .im-ship-S5 {
                            width: 26px;
                            display: flex;    /*flex*/
                            flex-direction: row;
                            justify-content: center;
                            align-items: flex-start;
                            background-color: #c4c4c4;
                            border-radius: 10px;
                            border: 3px solid #333;
                        }
                        .im-ship-S2 {
                            height: calc(2 * 35px);
                        }
                        .im-ship-S3 {
                            height: calc(3 * 36px);
                        }
                        .im-ship-S4 {
                            height: calc(4 * 37px);
                        }
                        .im-ship-S5 {
                            height: calc(5 * 38px);
                        }
                        #im-ship-place-point {
                            width: 1px;   /*ZMIEJSZ PÓŹNIEJ NA 1px!*/
                            height: 1px;   /*ZMIEJSZ PÓŹNIEJ NA 1px!*/
                            position: absolute;
                            top: 0px;
                            bottom: auto;
                            background-color: red;
                            opacity: 0.0;
                        }
                .im-submit {
                    width: 100%;
                    height: auto;
                    position: absolute;
                    bottom: 0px;
                    padding: 30px 30px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    background-color: rgba(255,0,0,0.0);
                    border: 0px solid red;
                }
                    #clientShow {
                        color: #222;
                        font-family: Verdana, Geneva, Tahoma, sans-serif;
                        font-size: 95%;
                        font-weight: 500;
                        text-align: center;
                        white-space: pre;
                        line-height: 1.3em;
                    }
                .im-start {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                    .button-start-game {
                        width: 120px;
                        height: 46px;
                        display: none;
                        justify-content: center;
                        align-items: center;
                        background-color: hsl(120, 63%, 60%);
                        color: white;
                        font-family: 'Barlow', sans-serif;
                        font-size: 120%;
                        font-weight: 600;
                        letter-spacing: 1.2px;
                        text-transform: uppercase;
                        text-shadow: 0px 0px 4px rgba(0,0,0,1.0);
                        box-shadow: inset 3px 3px 4px 1px rgba(255,255,255,0.4), inset -3px -3px 4px 1px rgba(0,0,0,0.1);
                        border-radius: 5px;
                    }
                    .button-start-game:hover {
                        cursor: pointer;
                        background-color: hsl(120, 68%, 65%);
                    }
                    .button-start-game:active {
                        background-color: hsl(120, 73%, 70%);
                    }
                    .button-start-game::selection {
                        color: white;
                    }
        #bb-2 {
            margin-left: 40px;
            opacity: 0.0;
            right: -500px;
        }
            .board-prp {
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
                grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
            }
                .area-box {
                    margin: 2px;
                    position: relative;
                    background-color: #80a2c7;
                    border-radius: 3px;
                    z-index: -1;
                }
                    .board-cor-T {
                        width: 100%;
                        height: 40px;
                        padding: 4px;
                        position: absolute;
                        display: flex;
                        left: 0px;
                        display: grid;
                        grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
                        grid-template-rows: auto;
                        background-color: transparent;
                    }
                    .board-cor-T {
                        top: -37px;
                    }
                        .bc-T-child, .bc-L-child {
                            margin: 2px;
                            position: relative;
                            display: flex;
                            flex-direction: row;
                            background-color: transparent;
                            color: #222;
                            font-family: 'Arial', sans-serif;
                            font-size: 110%;
                            font-weight: 500;
                            text-transform: uppercase;
                            border-radius: 3px;
                            z-index: -1;
                        }
                        .bc-T-child {
                            justify-content: center;
                            align-items: flex-end;
                        }
                        .bc-L-child {
                            justify-content: flex-end;
                            align-items: center;
                        }
                        .board-tit {
                            width: 100%;
                            height: 35px;
                            position: absolute;
                            top: -32px;
                            left: 0px;
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            background-color: transparent;
                            color: #222;
                            font-family: 'Josefin Sans', sans-serif;
                            font-size: 130%;
                            font-weight: 700;
                            text-transform: uppercase;
                            z-index: -1;
                        }
                        .board-tit::selection {
                            color: inherit;
                            background-color: inherit;
                        }
                        .board-tit:hover {
                            cursor: default;
                        }
                    .board-cor-L {
                        width: 40px;
                        height: 100%;
                        padding: 4px;
                        position: absolute;
                        display: flex;
                        top: 0px;
                        display: grid;
                        grid-template-columns: auto;
                        grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
                        background-color: transparent;
                        color: #222;
                        font-family: 'Josefin Sans', sans-serif;
                        font-size: 110%;
                        font-weight: 500;
                        text-transform: uppercase;
                    }
                    .board-cor-L {
                        left: -42px;
                    }



    input {
        display: none !important;
        text-align: center;
    }
    .inpLgt[type="number"] {
        width: 120px;
        height: 60px;
        position: relative;
        padding: 0px 30px;
        font-size: 170%;
    }
    .inpDir[type="text"] {
        width: 120px;
        height: 60px;
        position: relative;
        padding: 0px 30px;
        font-size: 170%;
    }
    .inpCor[type="number"] {
        width: 120px;
        height: 60px;
        position: relative;
        padding: 0px 30px;
        font-size: 170%;
    }
    .inpSub {
        display: none;
        width: 120px;
        height: 60px;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px 30px;
        font-size: 170%;
    }
}
